* {
	box-sizing: border-box;
}
.h1-responsive-2{
	display:none;
}
.trivia-layout{
	padding:0px;
	margin:0px;
	box-sizing:border-box;
}
.carousel-container{
	width:600px;
	margin:auto;
	border:5px solid #1D291D;
	border: none;
	overflow:hidden;
	position:relative;
}
.carousel-slide{
	display:flex;
	width:100%;
	height:300px;
}

#prevBtn{
	position:absolute;
	top:50%;
	z-index:10;
	left:5%;
	font-size:30px;
	color:#1D291D;
	opacity:0.6;
	cursor:pointer;
}

#nextBtn{
	position:absolute;
	top:50%;
	z-index:10;
	right:5%;
	font-size:30px;
	color:#1D291D;
	opacity:0.6;
	cursor:pointer;
}
.prevBtn, .nextBtn{
	background:;
	
}
.prevBtn:hover,.nextBtn:hover{
	background:#1D291D;
}
.flex-container {
	
	display: flex;
	height: auto;
	flex-wrap: wrap;
	align-content: space-between;
	padding:0;
}
.flex-container  .brain_logo {
	width:30%;
	margin:5;
	padding-top: 10px;
	padding-right: 30px;
	padding-bottom: 50px;
	padding-left: 80px;
	flex: 1;
}
.flex-container  .trivia {
	padding-top:50px;
	width:60%;
	margin:5;
	flex: 1;
}


.figure { 
	display: block;
	position: relative;
	float: left;
	overflow: hidden;
	/*margin: 0 20px 20px 0; */
}
.figcaption { 
	position: absolute;
	background: black; 
	background: rgba(0,0,0,0.75);
	color: red;
	padding: 10px 20px; 
	opacity: 0;
	-webkit-transition: all 0.6s ease;
	-moz-transition: all 0.6s ease;
	-o-transition: all 0.6s ease; 
 } 
.figure:hover 
.figcaption { 
	opacity: 1; 
 } 
.figure:before { 
	content: "none";
	position: absolute;
	font-weight: 800;
	background: black; 
	background: rgba(255,255,255,0.75);
	text-shadow: 0 0 5px white;
	color: black;
	width: 24px;
	height: 24px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	text-align: center;
	font-size: 14px;
	line-height: 24px;
	-moz-transition: all 0.6s ease; opacity: 0.75; } 
.figure:hover:before {
	opacity: 0;
} 

.cap-bot:before {
	bottom: 10px;
	left: 10px; 
} 
.cap-bot .figcaption { 
	left: 0;
	bottom: -30%;
} 
.cap-bot:hover .figcaption {
	bottom: 0; 
}

@media screen and (max-width: 768px) {

	* {
		flex: none;
	}

	.carousel-container{
		bottom:25px;
		width: 100%; 
	}

	.carousel-slide{
		width:100%;
	}

	.carousel-slide img {
		max-width: 100%;
	}

	.brain_logo {
		display:none;
	}

	.flex-container  .trivia {
		padding-top: 0px;
		width: 100%;	
		margin: 30px;
		flex: 2;
	}

	.responsive{
	}

	.h1-responsive-2{
		display: block;
	}

	.h1-responsive-1{
		display: none;
	}
}